*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: #b76846;
}

.header{
    min-width: 25;
    height: 130px;
    overflow: hidden;
    background: #FFFFFF;
}
.logo{
    float: left;
    margin: 10px;
}
.dropdown{
    float: right;
    color: #FFFFFF;
    border: none;
    padding: 0;
    top: 35px;
    right: 50px;
    position: relative;
    align-items: center;
}
.dropdown-content a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}
.dropdown-content {
    background-color: #f9f9f9;
    display: none;
    font-size: 14px;
} 
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropbtn{
    background: #b76846;
    border: none;
    padding: 8px;
    font-size: 18px;
    color: #FFFFFF;
}

.conteiner{
    float: left;
    min-height: 80vh;
    width: 190px;
    background-color: #EA7C4B;
}
nav{
    padding-top: 10px;
    float: left;
}
ul.menu{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    text-align:center, justify;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    padding-right: 75px;
    padding-left: 35px;
}
li:hover{
    background-color: #b76846;
    cursor: pointer;
}
p{

    padding-left: 20px;
    color: #FFFFFF;
    font-size: 25px;
}

.con-ini{
    position: absolute;
    width: 81em;
    height: 30em;
    left: 13em;
    top: 10em;
}
.div-emple{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-top: 5px solid;
    border-color: #EA7C4B;
    height: 150px;
    width: 300px;
    top: 30px;
    left: 150px;
}
.div-pedi{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-top: 5px solid;
    border-color: #EA7C4B;
    height: 150px;
    width: 300px;
    top: 30px;
    left: 600px;
}


@media (max-width:1200px){
    
    .div-emple{
        height: 100px;
        width: 250px;
        top: 50px;
        left: 50px;
    }
    .div-pedi{
        height: 100px;
        width: 250px;
        top: 50px;
        left: 350px;
    }
}
@media (max-width:992px){
    .con-ini{
        background-color: red;
        top: 120px;
        left: 180px;
        width: 310px;
    }
    .div-emple{
        top: 30px;
        left: 30px;
    }
    .div-pedi{
        top: 160px;
        left: 30px;
    }
    .logoAdmin{
        position: absolute;
        height: 50px;
        left:300px;
    }
    .conteiner{
        width: 150px;
    }
    nav{
        padding-top: 20px;
        float: left;
    }
    nav li{
        list-style: none;
        text-align:center, justify;
        padding: 5px;
    }
    nav li a{
        text-decoration: none;
        font-size: 10px;
        padding-right: 70px;
    }
    p{
        font-size: 15px;
    }
    .rol{
        font-size: 15px;
        padding-top: 10px;
    }
    .logoOrddo{
        width: 200px;
    }
    .logoRol{
        width: 40px;
        margin: 2px;
    }
    .header{
        height:100px;
        width: 992;
    }

}
@media (max-width:768px){
    p{
        font-size: 15px;
    }
    .div-emple{
        top: 90px;
        left: 100px;
    }
    .div-pedi{
        top: 230px;
        left: 100px;
    }
    .logoOrddo{
        width: 110px;
        height: 50px;
    }
    .logoRol{
        width: 30px;
        height: 30px;
    }
    

}
@media(max-width:576){

}